<!-- <p>child1 works!</p> -->

<button class='btn btn-primary' (click)="resetValues()"> click to change values </button>

<br><br>

status: {{checked()}}
<br>
name: {{name()}}
<br>
person: {{person() | json}}
<br>
person2: {{person().name}}
<br>
Name from service: {{mainService.name}}
<br><br>

Service stuff: {{mainService | json}}
<br><br>
Lastname:<br>
<input type = 'text' [(ngModel)] = 'person().lastName'>

<br><br>
<button (click) = 'cp("what!!!!")' class = 'btn btn-primary'>Call parent alert function</button>
<br>
Value: {{value1()}}
<br>
<button (click) = 'updateValue1()'>Update Value1</button>