<!-- <div ngbDropdown class="d-inline-block">
  <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
    Toggle dropdown
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <button ngbDropdownItem>Action - 1</button>
    <button ngbDropdownItem>Another Action</button>
    <button ngbDropdownItem>Something else is here</button>
  </div>
</div> -->

<nav class="navbar navbar-expand-md navbar-light bg-body-tertiary">
  <div class="container-fluid">
    <button
    class="navbar-toggler"
    type="button"
    aria-controls="navbarContent"
    [attr.aria-expanded]="!collapsed"
    aria-label="Toggle navigation"
    (click)="collapsed = !collapsed"
		>
    <span class="navbar-toggler-icon"></span>
  </button>
  <span style = 'font-weight: bolder;' class ="navbar-brand btn"  routerLink = "" >Dropdowns in navbar</span>
  
		<div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
			<ul class="navbar-nav me-auto">
				<li class="nav-item" ngbDropdown>
					<a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"> Static </a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
						<a ngbDropdownItem routerLink = '' (click)="$event.preventDefault()">Home</a>
						<a ngbDropdownItem routerLink = 'parent1' (click)="$event.preventDefault()">Parent 1</a>
						<a ngbDropdownItem routerLink = 'deferandif' (click)="$event.preventDefault()">Defer and if experimenting</a>
						<a ngbDropdownItem routerLink='samplenames' (click)="$event.preventDefault()">Sample Names</a>
					</div>
				</li>

				<li class="nav-item" ngbDropdown>
					<a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button"> Static right </a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-end">
						<a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
						<a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
						<a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else here</a>
					</div>
				</li>

				<li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
					<a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button"> Dynamic </a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
						<a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
						<a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
						<a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else here</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>
<hr>
<router-outlet />
